{% extends 'base.html.twig' %}

{% block title %}HomePage Blog{% endblock %}

{% block body %}
    <main>
        <h1>HomePage Blog</h1>

        {% for post in posts %}
            <div id="post_{{ post.id }}">
                <h2>{{ post.title }}</h2>
                <p>{{ post.story }}</p>
                <p>{{ post.showPublishDate() }}</p>
                {# <a href="{{ path('post_show', {'id': post->id}) }}">Voir l'article</a> #}
                <div class="comments">
                    <h3>Commentaires</h3>
                    {% for comment in post.comments %}
                    <div id="comment_{{ comment.id }}">
                        <p>Auteur : {{ comment.author }}</p>
                        <p>{{ comment.comment }}</p>
                        <p>{{ comment.showPublishDate() }}</p>
                    </div>
                    {% endfor %}
                    <div class="add_comment">
                        <h3>Ajouter un commentaire</h3>
                        <form action="" method="post">
                            <input type="hidden" name="postId" value="{{ post.id }}">
                            <label for="author">Auteur</label>
                            <input type="text" name="author" id="author">
                            <br />
                            <label for="comment">Commentaire</label>
                            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                            <br />
                            <input type="submit" value="Ajouter">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}