{% extends 'base.html.twig' %}

{% block title %}HomePage Blog{% endblock %}

{% block body %}
    <main>
        <h1>HomePage Blog</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.FirstName is same as("Pierre") %}
            <a href="/post/new">New Post</a>
        {% endif %}

        {% for post in posts|reverse %}
            <div id="post_{{ post.id }}">
            
                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.FirstName is same as("Pierre") %}
                    <h2><a href="{{ path('read_post', {'id': post.id}) }}">{{ post.title }}</a></h2>
                {% else %}
                    <h2>{{ post.title }}</h2>
                {% endif %}

                <p>{{ post.story }}</p>
                <p>{{ post.showPublishDate() }}</p>
                {# <a href="{{ path('post_show', {'id': post->id}) }}">Voir l'article</a> #}
                <div class="comments">
                    {% if post.comments|length == 0 %}
                        <p>Aucun commentaire</p>
                    {% else %}
                        <h3>Commentaires</h3>
                        {% for comment in post.comments|reverse %}
                        <div id="comment_{{ comment.id }}">
                            <p>Auteur : {{ comment.author }}</p>
                            <p>{{ comment.comment }}</p>
                            <p>{{ comment.showPublishDate() }}</p>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.FirstName is same as("Pierre") %}
                                <a href="{{ path('comment_delete', {'id': comment.id}) }}">Supprimer</a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>

                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.FirstName is not same as("Pierre") %}
                <div class="add comments">
                    <div class="add_comment">
                        <h3>Ajouter un commentaire</h3>
                        <form action="{{ path('add_comment') }}" method="post">
                            <label for="author"></label>
                            <input type="text" name="author" id="author" placeholder="Auteur">
                            <br />
                            <label for="comment"></label>
                            <input type="textarea" name="comment" id="comment" placeholder="Commentaire">
                            <br />
                            <input type="hidden" name="post_id" value="{{ post.id }}">

                            <button type="submit">Ajouter commentaire</button>
                        </form>
                    </div>
                </div>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.FirstName is same as("Pierre") %}
                    <a href="{{ path('post_delete', {'id': post.id}) }}">Supprimer</a>
                {% endif %}
            </div>
        {% endfor %}
    </main>
{% endblock %}