<header>
{% block header %}
    <img src="{{ asset('images/test.jpeg') }}" alt="image de test">

    <div>
    {# {% if user is defined and user != null %} #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if app.user.FirstName|length %}
            <p>Bonjour {{ app.user.FirstName }}</p>
        {% else %}
            <p>Bonjour {{ app.user.email }}</p>
        {% endif %}
        <a href="{{ path('logout') }}">Se déconnecter</a>
        <a href="{{ path('homepage') }}">Mon profil</a>
    {% else %}
        <a href="{{ path('login') }}">Se connecter</a>
        <a href="{{ path('signup') }}">S'inscrire</a>
    {% endif %}
    </div>
{% endblock %}
</header>